html,
body {
    font-size: 14px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.content {
    flex: 0 1 100%;
    height: 100%;
    background-color: yellow;
    padding: 2px 5px;
    border: 2px solid red;
    border-radius: 10px;
}

.nav-tabs + .block-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pendu {
    background: url('../../images/pendu.png') no-repeat;
    width: 225px;
    height: 255px;
}

.text-zone {
    height: 50px;
    font-size: 2rem;
}

